@model IList<MySqlDotnetCore.Models.Product>

<div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>List Product</h3>
        </div>

        <div class="title_right">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    <div class="pull-right">
                        <a asp-controller="Home" asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Add Product</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title" style="width: 5%">Seq ID</th>
                                <th class="column-title" style="width: 15%">Product Code</th>
                                <th class="column-title" style="width: 15%">Product Category Code</th>
                                <th class="column-title" style="width: 15%">Product Type Code</th>
                                <th class="column-title" style="width: 25%">Product Name</th>
                                <th class="column-title" style="width: 15%">Product Description</th>
                                <th class="column-title no-link last" style="width: 10%"><span class="nobr">Action</span></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ var odd = false; }
                            @foreach (var item in Model){
                            <tr class="@(odd ? "odd": "even") pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" ">@item.seq_Id</td>
                                <td class=" ">@item.Product_Code</td>
                                <td class=" ">@item.Product_Category_Code</td>
                                <td class=" ">@item.Product_Type_Code</td>
                                <td class=" ">@item.Product_Name</td>
                                <td class=" ">@item.Product_Description</td>
                                <td class=" last">
                                    <a asp-controller="Home" class="btn btn-primary btn-sm"  asp-action="Edit" asp-route-id="@item.seq_Id">Edit</a> | 
                                    <a asp-controller="Home" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.seq_Id">Delete</a>
                                </td>
                            </tr>
                            odd = !odd;
                            }
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
