@model IList<MySqlDotnetCore.Models.ProductCategory>

<div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>List Product Category</h3>
        </div>

        <div class="title_right">
            <div class="form-group top_search">
                <div class="input-group">
                    <div class="pull-right">
                        <a asp-controller="ProductCategory" asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Add Product Category</a>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="example"  class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title" style="width: 5%">Seq ID</th>
                                <th class="column-title" style="width: 15%">Product Category Code</th>
                                <th class="column-title" style="width: 25%">Category Name</th>
                                <th class="column-title" style="width: 15%">Category Description</th>
                                <th class="column-title" style="width: 10%">Status</th>
                                <th class="column-title no-link last" style="width: 20%"><span class="nobr">Action</span></th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ var odd = false; }
                            @foreach (var item in Model){
                            <tr class="@(odd ? "odd": "even") pointer">
                                <td class=" ">@item.seq_Id</td>
                                <td class=" ">@item.Product_Category_Code</td>
                                <td class=" ">@item.Category_Name</td>
                                <td class=" ">@item.Category_Description</td>
                                <td class=" ">@item.Status</td>
                                <td class=" last">
                                    <a asp-controller="ProductCategory" asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.seq_Id">Edit</a> | 
                                    <a asp-controller="ProductCategory" asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.seq_Id">Delete</a>
                                </td>
                            </tr>
                            odd = !odd;
                            }
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
